/* Les Variables */
$title_police: 'Shrikhand',cursive;
$id_graph_colors:(primaire:#9356DC,secondaire:#FF79DA,tertiaire:#99E2D0);
$break-responsive:(tablette:750px,tel-m:500px,min-tel:350px,pc:1000px);
$color_repas:#fff;
$color_descript:darken($color_repas,10%);//Ici la couleur de la table de menu
$larg_validation:60px;
$color_btn_heart:linear-gradient(350deg, map-get($id_graph_colors,tertiaire) 0%, map-get($id_graph_colors,primaire) 0%, map-get($id_graph_colors,secondaire)100%);
$color_btn_heart_survol:linear-gradient(350deg, map-get($id_graph_colors,tertiaire) 0%, map-get($id_graph_colors,primaire) 10%, map-get($id_graph_colors,secondaire)90%);

/*rgb(blue(map-get($id_graph_colors,primaire)),red(map-get($id_graph_colors,secondaire)),green(map-get($id_graph_colors,tertiaire)));*/
/*mix(map-get($id_graph_colors,primaire),map-get($id_graph_colors,secondaire),30%)lighten(map-get($id_graph_colors,primaire),10%)*/

$img_des_restau:(1:'jay-wennington-N_Y88TWmGwA-unsplash.jpg',4:'louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg',2:'stil-u2Lp8tXIcjw-unsplash.jpg',3:'toa-heftiba-DQKerTsQwi0-unsplash.jpg');
$nbr_option_fonctionnement:3;// Ici le nombre d'étapes expliquant le fonctionnement du site
$haut-repas:70px; //Ici la hauteur des blocs de repas dans chaque menus
$durée_apparition:1000ms; $durée_loading:3000ms;
$largeur_maximale:1050px;
$loading_scale_start:1;
$loading_scale_end:1.5;

/*Listes*/
$liste_fonctionnement:1 2 3;
$etats_blocs: focus hover active;
$type_menus: entrées plats desserts;


/*function et mixins*/
@mixin police_de_titre
{  font-family: $title_police;}
@mixin titre_second
{	
	margin-top:10px;
	font-weight:bold;
	font-size:2em;
	@include mini-tel
	{
		font-size:1.8em;
	}
}

@mixin remplissage_coeur
{
	background: $color_btn_heart;
	color:transparent;
	-webkit-background-clip: text;
}
@mixin debug_rapid{
    border:solid black 1px;
    *{border: solid white 1px;}
}

@mixin conteneur_automatique
{padding:5%; }
@mixin visited_link
{text-decoration:none;
	color:black;}

@mixin flex_horiz_center
{
	display:flex;
	align-items:center;
	justify-content:center;
}
	
@mixin etat_dynamique_option_fonctionnement ($etat)
{
	&:#{$etat}
	{
		background-color:lighten(map-get($id_graph_colors,primaire),35%);
		& .fas
		{
			color: map-get($id_graph_colors, primaire);
		}
	}
}
@mixin apparition_menus
{
	$nbr:1;
	$debut_apparition_menus:50;
	@while $nbr<=3
	{
		&__#{nth($type_menus,$nbr)}__repas
		{
			animation: apparition_progressive 2000ms #{$debut_apparition_menus}ms;
			animation-fill-mode:backwards;
		}
		$debut_apparition_menus:$debut_apparition_menus + 1100;
		$nbr:$nbr+1;
	}
}

@mixin ajout_de_plat ($etat)
{
	$nbr:1;
	@while $nbr<=3
	{
		&:#{$etat}
		{
			cursor:pointer;
			.menu__#{nth($type_menus,$nbr)}__repas
			{
				opacity:0;
				&::after
				{
					opacity:1;
				}
				&__description
				{
					&__prix
					{
						transform:translateX(-#{$larg_validation});
					}
					&__titre
					{
						width:65%;
					}
					& p
					{
						width:65%;
					}
				}
				&__valider
				{
					transform:translateX(-#{$larg_validation});
					& .fas
					{
						transform:rotate(360deg);
					}
				}
			}
		}
		$nbr:$nbr+1;
	}
}
	
@mixin btn_primaire($color_txt)
{
	&__btn
	{
		margin:auto;
		background-image:$color_btn_heart;
		height:50px;
		width:90%;
		max-width:300px;
		border-radius:50px;
		@include flex_horiz_center;
		position:relative;
		top:25px;
		margin-bottom:50px;
		box-shadow:0px 6px 6px #d2d2d2;
		&__texte
		{
			color:$color_txt;
		}
		&:#{nth($etats_blocs,2)}
		{
			background-image:$color_btn_heart_survol;
		}
		@include tablettes
		{
			width:85%;
		}
	}
}



@mixin restau_page_daccueil($recueil_img)
{
	
	
	&__nouveau
	{
		position:absolute;
		right:12px; top:12px;
		height: 30px;
		width:80px;
		background-color: map-get($id_graph_colors, tertiaire);
		font-weight:bold;
		color:darken(map-get($id_graph_colors,tertiaire),50%);
		@include flex_horiz_center();
		font-size:0.9em;
	}
	&__description
	{
		height:78px;
		position: absolute;
		bottom:0px;
		width:100%;
		background-color:$color_descript;
		display:flex;
		justify-content: space-between;
		color:black;
		& .restaurant__menu__like
		{
			width:70px;
			height:100%;
			@include flex_horiz_center();
			position:relative;
			& .fa-heart
			{
				font-size:1.8em;
				position:absolute;
			}
			
			& .fas
			{
				display:inline-block;
				@include remplissage_coeur;
			}
			& .far
			{
				z-index:2;
				background-color: $color_descript;
				opacity:1;
				transition:opacity 250ms;
				&:#{nth($etats_blocs,2)}
				{
					opacity:0;
				}
			}
		}
		
		& .menu__restau
		{
			display:flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			margin-top: 1em;
			margin-left: 1em;
			text-transform: capitalize;
			& h2
			{
				margin:0px;
				font-size:1.2em;
			}
			& .restau
			{
				margin: 5px 0px 0px 0px;
			}
		}
	}
	@each $key, $value in $recueil_img
	{
		&__#{$key}
		{
			background: url('./../assets/images/restaurants/'+#{$value}) no-repeat center/150%;
		}
	}
}

/*-responsive pour les tablettes-*/
@mixin tablettes
{
	@media all and (min-width:map-get($break-responsive,tablette))
	{
		@content;
	}
}
@mixin tel-moy
{
	@media all and (max-width:map-get($break-responsive,tel-m))
	{
		@content;
	}
}
@mixin mini-tel
{
	@media all and (max-width:map-get($break-responsive,min-tel))
	{
		@content;
	}
}
@mixin ordi
{
	@media all and (min-width:map-get($break-responsive,pc)) and (orientation:landscape)
	{
		@content;
	}
}