
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* Les polices */
@font-face {
    font-family: 'Roboto';
    src: url('./Police/Roboto-Regular.ttf') format('truetype'),
    url('./Police/roboto-regular-webfont.woff2') format('woff2'),
    url('./Police/roboto-regular-webfont.woff') format('woff');
}
/* Les Variables */
$title_police: 'Shrikhand',cursive;
$id_graph_colors:(primaire:#9356DC,secondaire:#FF79DA,tertiaire:#99E2D0);
$color_repas:#fff;
$color_descript:darken($color_repas,10%);//Ici la couleur de la table de menu
$larg_validation:60px;
$color_btn_heart:lighten(map-get($id_graph_colors,primaire),10%);
$img_des_restau:(1:'jay-wennington-N_Y88TWmGwA-unsplash.jpg',4:'louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg',2:'stil-u2Lp8tXIcjw-unsplash.jpg',3:'toa-heftiba-DQKerTsQwi0-unsplash.jpg');
$nbr_option_fonctionnement:3;// Ici le nombre d'étapes expliquant le fonctionnement du site
$haut-repas:70px; //Ici la hauteur des blocs de repas dans chaque menus
$durée_apparition:1000ms;//Indiquée en millisecondes

/*Listes*/
$liste_fonctionnement:1 2 3;
$etats_blocs: focus hover active;
$type_menus: entrées plats desserts;

/*function et mixins*/
@mixin police_de_titre
{  font-family: $title_police;}
@mixin titre_second
{	
	margin-top:10px;
	font-weight:bold;
	font-size:2em;
}
@mixin debug_rapid{
    border:solid black 1px;
    *{border: solid black 1px;}
}

@mixin conteneur_automatique
{padding:5%;}
@mixin visited_link
{text-decoration:none;
	color:black;}
@mixin flex_horiz_center
{
	display:flex;
	align-items:center;
	justify-content:center;}
@mixin etat_dynamique_option_fonctionnement ($etat)
{
	&:#{$etat}
	{
		background-color:lighten(map-get($id_graph_colors,primaire),35%);
		& .fas
		{
			color: map-get($id_graph_colors, primaire);
		}
	}
}
@mixin apparition_menus
{
	$nbr:1;
	$debut_apparition_menus:50;
	@while $nbr<=3
	{
		&__#{nth($type_menus,$nbr)}__repas
		{
			animation: apparition_progressive 2000ms #{$debut_apparition_menus}ms;
			animation-fill-mode:backwards;
		}
		$debut_apparition_menus:$debut_apparition_menus + 1100;
		$nbr:$nbr+1;
	}
}

@mixin ajout_de_plat ($etat)
{
	$nbr:1;
	@while $nbr<=3
	{
		&:#{$etat}
		{
			cursor:pointer;
			.menu__#{nth($type_menus,$nbr)}__repas
			{
				opacity:0;
				&::after
				{
					opacity:1;
				}
				&__description
				{
					&__prix
					{
						transform:translateX(-#{$larg_validation});
					}
					&__titre
					{
						width:65%;
					}
					& p
					{
						width:65%;
					}
				}
				&__valider
				{
					transform:translateX(-#{$larg_validation});
					& .fas
					{
						transform:rotate(360deg);
					}
				}
			}
		}
		$nbr:$nbr+1;
	}
}
	
@mixin btn_primaire($color_txt)
{
	&__btn
	{
		margin:auto;
		background-color:$color_btn_heart;
		height:50px;
		width:58%;
		border-radius:50px;
		@include flex_horiz_center;
		position:relative;
		top:25px;
		margin-bottom:50px;
		box-shadow:0px 6px 6px #d2d2d2;
		&__texte
		{
			color:$color_txt;
		}
	}
}

@mixin option_des_fonctionnement ($nbr_option)
{$nbr:1;
	@while $nbr<=$nbr_option
	{
		&__#{$nbr}
		{
			list-style-type: none;
			width:100%;
			max-width:322px;
			height:74px;
			margin-top:12px;
			margin-bottom: 12px;
			border-radius: 24px;
			font-size:1.2em;
			background-color: #f6f6f6;
			box-shadow:0px 8px 8px #eaeaea;
			& a
			{
				@include flex_horiz_center();
				position:relative;
				align-content:space-between;
				width:100%;
				height:100%;
				text-decoration: none;
				color: black;
				font-weight:bold;
			}
			& .num
			{
				width:24px;
				height:24px;
				border-radius:50%;
				display:flex;
				justify-content: center;
				align-items: center;
				color:#fff;
				position:absolute;
				font-weight:normal;
				font-size: .9em;
				left: -4%;
				background-color: map-get($id_graph_colors, primaire );
			}
			& .fas
			{
				position: relative;
				left:-20px;
				font-size:1.1em;
				color: lighten(#000000, 40%);
			}

			//Les différents états des options
			@include etat_dynamique_option_fonctionnement(nth($etats_blocs,1));
			@include etat_dynamique_option_fonctionnement(nth($etats_blocs,2));
			@include etat_dynamique_option_fonctionnement(nth($etats_blocs,3));
		}
		$nbr:$nbr+1;
	}
}

@mixin restau_page_daccueil($recueil_img)
{
	
	
	&__nouveau
	{
		position:absolute;
		right:12px; top:12px;
		height: 30px;
		width:80px;
		background-color: map-get($id_graph_colors, tertiaire);
		font-weight:bold;
		color:darken(map-get($id_graph_colors,tertiaire),50%);
		@include flex_horiz_center();
		font-size:0.9em;
	}
	&__description
	{
		height:78px;
		position: absolute;
		bottom:0px;
		width:100%;
		background-color:$color_descript;
		display:flex;
		justify-content: space-between;
		color:black;
		& .restaurant__menu__like
		{
			width:70px;
			height:100%;
			@include flex_horiz_center();
			position:relative;
			& .fa-heart
			{
				font-size:1.8em;
				position:absolute;
			}
			
			& .fas
			{
				color: $color_btn_heart;
				display:inline-block;
			}
			& .far
			{
				z-index:2;
				background-color: $color_descript;
				opacity:1;
				transition:opacity 250ms;
				&:#{nth($etats_blocs,2)}
				{
					opacity:0;
				}
			}
		}
		
		& .menu__restau
		{
			display:flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			margin-top: 1em;
			margin-left: 1em;
			text-transform: capitalize;
			& h2
			{
				margin:0px;
				font-size:1.2em;
			}
			& .restau
			{
				margin: 5px 0px 0px 0px;
			}
		}
	}
	@each $key, $value in $recueil_img
	{
		&__#{$key}
		{
			background: url('./../assets/images/restaurants/'+#{$value}) no-repeat center/150%;
		}
	}
}

/* -Les animations- */
@keyframes apparition_progressive
{
	0%
	{
		opacity:0;
		transform:translateY(50%);
	}
	50%
	{
		opacity:1;
	}
	100%
	{
		opacity:1;
		transform:translateY(0%);
	}
}

body{
    font-family: 'Roboto';
	width:100%;
	margin:auto;
}

header
{
    width:100%;
    position:relative;
    border-bottom:/*lighten(map-get($id_graph_colors,primaire),30%)*/ #cfcfcf 2px solid;
	height:63px;
	@include flex_horiz_center;
	
    & .logo
    {
    }
	& .retour
	{
		display:inline-block;
		vertical-align:middle;
		position:absolute;
		z-index:1;
		left:1em;
		height:100%;
		@include flex_horiz_center;
		@include visited_link;
	}
}
#localisation
{
    width:100%; height: 42px;
    position:relative;
	@include flex_horiz_center;
    background-color: /*lighten(map-get($id_graph_colors,primaire),35%)*/ #eaeaea;
	font-size:1.4em;
	font-weight:bold;
	& span{
	position:relative;
	right:.6em;}
}
#courte_presentation
{
	& .presentation
	{
		@include conteneur_automatique;
		background-color:/*lighten(map-get($id_graph_colors,primaire),38%)*/ #f6f6f6;
		text-align:center;
		max-height:287px;
		&__titre
		{
			@include titre_second;
			text-align:center;
		}
		& p
		{
			text-align:center;
			font-size:1.2em;
		}
		position:relative;
		@include btn_primaire(#fff);
	}
	
	& .fonctionnement
	{
		@include conteneur_automatique;
		&__title
		{
			@include titre_second;
		}
		&__option
		{
			& ul
			{
				padding:0px;
				display:flex;
				flex-direction: column;
				align-items:center;
				align-content:space-between;
			}
			@include option_des_fonctionnement($nbr_option_fonctionnement);
			
		}
	}
}
.restaurants
{
	background-color:/*lighten(map-get($id_graph_colors,primaire),38%)*/ #f6f6f6;
	& .diff__restaurants
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	}
	@include conteneur_automatique();
	&__title
	{
		@include titre_second();
	}
	& a
	{	height:251px;
		min-width:336px;
		display:inline-block;
		position:relative;
		margin-bottom:18px;
		border-radius:15px;
		overflow:hidden;
		box-shadow:0px 6px 6px darken(#f6f6f6,25%);
	}
	&__menu
	{
		@include restau_page_daccueil($img_des_restau);
	}
}

/*Volet des menus*/
.page__center
{
	background-color: $color_descript;
	& .bannière
	{
		height: 254px;
	}
	& .menu
	{
		@include conteneur_automatique();
		border-radius: 35px;
		position:relative;
		top:-35px;
		overflow: hidden;
		background-color: $color_descript;
		@include apparition_menus;
		&__entête
		{
			width:100%;
			height:102px;
			display:flex;
			justify-content: space-between;
			align-items:center;
			&__titre
			{
				@include police_de_titre();
			}
			& span
			{
				width:70px;
				height:100%;
				@include flex_horiz_center();
				position:relative;
				& .far
				{
					position: relative;
					font-size:1.8em;
				}
			}
		}
		
		$nbr:1;
		@while $nbr<=3
		{
			&__#{nth($type_menus,$nbr)}
			{
				&__titre
				{
					display:flex;
					flex-direction:column;
					text-transform: uppercase;
					font-size:1em;
					&__deco
					{
						width: 40px;
						height:2px;
						background-color:map-get($id_graph_colors, tertiaire);
					}
				}
				& ul
				{
					padding-left:0px;
				}
				
				&__repas
				{
					list-style-type:none;
					width:100%;
					height:$haut-repas;
					margin-bottom:14px;
					border-radius:12px;
					background-color:darken($color_repas,4%);
					box-shadow:0px 8px 8px #ebebeb;
					position:relative;
					display:inline-block;
					display:flex;
					align-items:center;
					justify-content:space-between;
					overflow:hidden;
					opacity:1;
					z-index:1;
					@include ajout_de_plat(nth($etats_blocs,1));
					@include ajout_de_plat(nth($etats_blocs,2));
					@include ajout_de_plat(nth($etats_blocs,3));
					/* -Ajout d'élément en arrière plan pour optimiser l'annimation d'éclaicirssement au clic ou survole- */
					&::after
					{
						position:absolute;
						top:0; bottom:0; left:0; right:0;
						content:"";
						opacity:0;
						transition:opacity 250ms;
						background-color:$color_repas;
						color:$color_repas;
						z-index:-1;
					}
					&__description 
					{
						display:flex;
						flex-direction:column;
						justify-content:space-between;
						font-size:0.9em;
						overflow:hidden;
						& p
						{
							width:100%;
							height:1.2em;
							margin:0px;
							margin-bottom:3%;
							margin-left:3%;
							overflow:hidden;
						}
						height:100%;
						width:100%;
						&__titre
						{
							margin:0px;
							margin-top:3%;
							margin-left:3%;
							width:100%;
							height:1.2em;
							overflow:hidden;
						}
						&__prix
						{
							position:absolute;
							right:24px;
							bottom:9%;
							font-weight:bold;
							display:inline-block;
							transform:translateX(0px);
							transition:all 250ms ease-in-out;
						}
						
					}
					&__valider
					{
						position:relative;
						right:-#{$larg_validation};
						height:$haut-repas;
						width:$larg_validation;
						display:inline-block;
						transform:translateX(0px);
						transition:all 250ms ease-in-out;
						background-color:map-get($id_graph_colors, tertiaire);
						@include flex_horiz_center;
						& .fas
						{
							color:$color_repas;
							font-size:1.2em;
							transform:rotate(180deg);
							transition: all 500ms;
						}
					}
				}
				margin-bottom:40px;
			}
			$nbr:$nbr+1;
		}
		@include btn_primaire(#fff);
	}
}

footer
{
	background-color: black;
	@include conteneur_automatique();
	.footer__title
	{
		font-size: 1em;
		color:#fff;
		@include police_de_titre();
		font-weight:normal;
	}
	.footer__nav
	{
		& ul
		{
			padding-left: 0px;
			margin-bottom: 0px;
			& li
			{
				list-style-type: none;
				margin-left: 0px;
				margin-bottom:14px;
				& i
				{
					color:#fff;
					margin-right: 1%;
					font-size: 0.97em;
				}
				& a
				{
					text-decoration: none;
					font-size: 0.98em;
					color:#fff;
				}
			}
		}
	}
}