#localisation
{
    width:100%; height: 42px;
    position:relative;
	@include flex_horiz_center;
    background-color: darken($color_repas, 8.1%);
	font-size:1.4em;
	font-weight:bold;
	& span{
	position:relative;
	right:.6em;}
}
#courte_presentation
{
	& .presentation
	{
		@include conteneur_automatique;
		background-color:darken($color_repas, 2.6%) ;
		text-align:center;
		height:287px;
		&__titre
		{
			@include titre_second;
			text-align:center;
		}
		& p
		{
			text-align:center;
			font-size:1.2em;
		}
		position:relative;
		@include btn_primaire($color_repas);
		@include tablettes
		{
			height:auto;
			flex:1;
		}
	}
	
	& .fonctionnement
	{
		@include conteneur_automatique;
		&__title
		{
			@include titre_second;
		}
		&__option
		{
			& ul
			{
				padding:0px;
				display:flex;
				flex-direction: column;
				align-items:center;
				align-content:space-between;
			}
			@include option_des_fonctionnement($nbr_option_fonctionnement);
			
		}
		@include tablettes
		{
			height:auto;
			flex:1;
		}
	}
	
	@include tablettes
	{
		display:flex;
		justify-content:center;
		align-items:stretch;
		background-color:darken($color_repas, 1.6%);
	}
}
.restaurants
{
	background-color:darken($color_repas, 3.6%);
	& .diff__restaurants
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	}
	@include conteneur_automatique();
	&__title
	{
		@include titre_second();
	}
	& a
	{	height:251px;
		max-width:600px;
		width:100%;
		display:inline-block;
		position:relative;
		margin-bottom:18px;
		border-radius:15px;
		overflow:hidden;
		box-shadow:0px 6px 6px darken($color_repas, 28.6%);
		@include tablettes
		{
			min-width:330px;
			width: 48%;
		}
	}
	&__menu
	{
		@include restau_page_daccueil($img_des_restau);
	}
	
}